.find-icons {
  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}
.find-icon__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icon__icon i {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}
.find-icon__icon span {
  margin-top: 15px;
}
.recommended-friends {
  margin: 20px 0px;
  padding: 15px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--text-grey);
}
.recommended-friends span {
  display: block;
  padding: 100px 0px;
  text-align: center;
  color: var(--text-grey);
  font-size: 18px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  color: var(--text-grey);
}
.open-post {
  display: flex;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
  color: var(--text-grey);
}
.open-post__memembers {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.open-post__memembers img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__memember-count {
  color: var(--text-grey);
  font-size: 14px;
}
.open-post__memembers .divider {
  width: 1.2px;
  height: 14px;
  background-color: var(--text-grey);
  margin: 0px 5px;
}
.open-post__memember-status {
  color: #ffb0e0;
}
