.find-icons {
  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}
.find-icon__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icon__icon i {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}
.find-icon__icon span {
  margin-top: 15px;
}
.recommended-friends {
  margin: 20px 0px;
  padding: 15px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--text-grey);
}
.recommended-friends span {
  display: block;
  padding: 100px 0px;
  text-align: center;
  color: var(--text-grey);
  font-size: 18px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  color: var(--text-grey);
}
