.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  border: none;
  padding: 8px 0px;
  font-size: 18px;
  margin-bottom: 20px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1.6px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.2s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}
#login-form input[value="Sign Up"] {
  background-color: rgba(0, 0, 0, 0.05);
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  margin-top: 12px;
}
